/.cproject
/.project
/.settings
/lib
/.idea
/bin
/.build
/cmake-build-debug
CMakeLists.txt
core
/.vscode
/data
/.cmake
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
/Makefile
/Testing
/composer.lock
/vendor